<!DOCTYPE html>
<html lang="en">
<head>
    @{
        Layout = null;
    }
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script>window.apiurl="http://autopinger.herokuapp.com"</script>
    <script async defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI8T6eYBM3X-yuccXgpy-NBHS4qon_bvw"></script>
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="./App.css">
    <title>React App</title>
</head>
<body>
    <div id="root"></div>
    <script type="text/javascript" src="/static/js/main.5d0ed97e.js"></script>
</body>
</html>