@{
    Layout = "_AnonymousLayout";
}

<div id="root"></div>

@section scripts{
    <script>window.apiurl = "http://autopinger.herokuapp.com"</script>
    <script async defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI8T6eYBM3X-yuccXgpy-NBHS4qon_bvw"></script>
    <script type="text/javascript" src="/static/js/main.5d0ed97e.js"></script>
}