<div class="modal fade" id="confirmDeleteObjectiveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confirmare stergere obiectiv
            </div>
            <div class="modal-body">
                Sunteti sigur ca vreti sa stergeti acest obiectiv?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nu</button>
                <a class="btn btn-danger btn-ok" onclick="window.deleteObjective();">Da</a>
            </div>
        </div>
    </div>
</div>