@model IList<JRS.DR.ViewModels.Admin.ObjectiveLightModel>
@{
    ViewBag.Title = "Admin";
}

<style>
    #map {
        height: 500px;
        width: 800px;
    }
</style>

<h2>Admin</h2>

<div id="map"></div>

@section scripts{
    <script>
        var map;
        var markers = [];

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8
            });

            map.addListener('click', function (e) {
                placeMarker(e.latLng, map);
            });

            function placeMarker(latLng, map) {
                clearMarkers();

                var marker = new google.maps.Marker({
                    position: latLng,
                    map: map
                });

                markers.push(marker);
                alert(latLng);
            }

            function setMapOnAll(map) {
                for (let i = 0; i < markers.length; i++) {
                    markers[i].setMap(map);
                }
            }

            function clearMarkers() {
                setMapOnAll(null);
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgdztzg0KH-LQwK5nRKxXq-fcwViT8dMQ&callback=initMap" async defer></script>
}